nav.top-bar(data-topbar, role="navigation")
  ul.title-area
    li.name
      h1
        a(href="/")
          | Home
    li.toggle-topbar.menu-icon
      a(href="#")
        span
          | Menu
  section.top-bar-section
    ul.right
      li.has-dropdown
        a(href="/dashboard")
          | My Account
        ul.dropdown
          li
            a(href="/logout")
              | Log Out
    ul.left
      li
        a(href="new_blog")
          | New Blog        