 
//- ul.button-groups
//-   li
//-     a.button(href="/") Home
//-   li
//-     a.button(href="/signup") Sign Up
//-   li
//-     a.button(href="/new_blog") New Blog
//-   li
//-     a.button(href="/login") Log In
//-   li
//-     a.button(href="/logout") Log Out
//-   li
//-     a.button(href="/dashboard") My Account

nav.top-bar(data-topbar, role="navigation")
  ul.title-area
    li.name
      h1
        a(href="/")
          | Home
    li.toggle-topbar.menu-icon
      a(href="#")
        span
          | Menu
  section.top-bar-section
    ul.right
      li
        a(href="/signup")
          | Sign Up
      li
        a(href="/login")
          | Log In
      li.has-dropdown
        a(href="/dashboard")
          | My Account
        ul.dropdown
          li
            a(href="/logout")
              | Log Out
    ul.left
      li
        a(href="new_blog")
          | New Blog        