 
ul.button-group
  li
    a.button(href="/") Home
  li
    a.button(href="/signup") Sign Up
  li
    a.button(href="/new_blog") New Blog
  li
    a.button(href="/login") Log In
  li
    a.button(href="/logout") Log Out
  li
    a.button(href="/dashboard") My Account