extends ./layout.jade

block change_password
 div#change_password_form
  div.row
    div.small-9.small-centered.columns
      form(action='/dashboard/change_password', method='post')
        div
          label(for="current_password")
            | Current Password:
          input(type='password', name='current_password' id="current_password", required)
        div
          label(for="password")
            | New Password:
          input(type='password', name='password' id="password", required)
        div
          label(for="cpassword")
            | Confirm New Password:
          input(type='password', name='cpassword', id="cpassword" onkeyup="checkPassword(); return false;", required)
          span#confirmMessage
        div
          button(type='submit') Save Changes

