extends ./layout.jade


block edit_post_form
  div.edit_post
    form#edit_post(action='' method='')
      label.form_labels(for="form_author") Author
      input#form_author(type='text' name="author" value=author)
      label.form_labels(for="form_title") Title
      input#form_title(type='text' name="title" value=title)
      label.form_labels(for="form_body") Blog Body
      textarea#form_body(form="edit_post" name="body" rows=50)
        =body
      button(type='submit') Save Changes 
  