extends ./layout.jade

block edit_account
 div#edit_account_form
  div.row
    div.small-9.small-centered.columns
      form(action='/dashboard/edit_account', method='post')
        label
          | First Name:
        input(type='text', name='firstname', value=firstname)
        label
          | Last Name:
        input(type='text', name='lastname', value=lastname)
        label
          | Email:
        input(type='text', name='email', value=email)
        label(for="password")
          | Password:
        input(type='password', name='password' id="password")
        label(for="cpassword")
          | Confirm Password:
        input(type='password', name='cpassword', id="cpassword" onkeyup="checkPassword(); return false;")
        span#confirmMessage
        button(type='submit') Save Changes