doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name ="viewport" content="width=device-width, initial-scale=1.0" )
    title 
      block title
       |Express Blog
    script(src="/bower_components/modernizr/modernizr.js")
    link(href='http://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css') 
    link(rel="stylesheet" href="/css/styles.css")

  body
    header#page_header
      div.title
        //- a#logout_link(href="/logout") Logout
        //- a(href="/signup") Sign Up
        a(href="/") Blogify
      include _nav_bar.jade
      //- a(href="/dashboard") My Account

    block login

    //- block link

    block new_post_form

    block slider

    block edit_post_form

    block signup_form

    block single_blog_post

    block dashboard

    block edit_account


  script(src="/bower_components/foundation/js/vendor/jquery.js")
  script(src="/bower_components/foundation/js/foundation.min.js")
  script $(document).foundation();
  script(src="/js/blog.js")