extends ./layout.jade

block new_post_form
  div.new_post
    div.row
      div.small-9.small-centered.columns
        form#new_post(action='/blog' method='POST')
          label.form_labels(for='form_author') Author
          p 
            = author
          label.form_labels(for='form_title') Title
          input#form_title(type='text' name='title' required)
          label.form_labels(for='form_body') Blog Body
          textarea#form_body(form='new_post', name='body', rows=20 required)
          button(type='submit') Publish Blog 
