extends ./layout.jade

block signup_form
  div#signup_form
    div.row
      div.small-9.small-centered.columns
        form(action='/signup', method='post')
          div
            label
              | Username:
            input(type='text', name='username')
          div
            label
              | Password:
            input(type='password', name='password')
          div
            button(type='submit') Sign Me Up!