extends ./layout.jade

block signup_form
  div#signup_form
    div.row
      div.small-9.small-centered.columns
        form(action='/signup', method='post')
          div
            label
              | First Name:
            input(type='text', name='firstname')
          div
            label
              | Last Name:
            input(type='text', name='lastname')
          div
            label
              | Email:
            input(type='text', name='email')
          div
            label
              | Password:
            input(type='password', name='password')
          div
            button(type='submit') Sign Me Up!