extends ./layout.jade


block single_blog_post

  p Title: 
    =title

  p Author: 
    =author

  p Post:
    =body

  form#edit_link(action='/blog/'+id+'/edit' method='GET')
    button(type='submit') Edit Post

  form#delete_link(action='/blog/'+id+'?_method=DELETE' method='POST')
    input(type='hidden' name='_method' value='DELETE')
    button(type='submit') Delete Post
