//find background images
//find images
//www.subtlepatterns.com
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";
@import "http://fonts.googleapis.com/css?family=Oleo+Script:400,700.css";
@import "http://fonts.googleapis.com/css?family=Lato:300,400,700.css";
@import "http://fonts.googleapis.com/css?family=Play:400,700.css";
@import "http://fonts.googleapis.com/css?family=Exo+2:400,100.css";
@import "http://fonts.googleapis.com/css?family=Josefin+Slab:400,600,700.css";
@import "http://fonts.googleapis.com/css?family=Open+Sans:400,300.css";

// font weight
$font-bold: 700;
$font-semibold: 600;
$font-light: 100;

// fonts
$oleo: 'Oleo Script', cursive;
$lato: 'Lato', sans-serif;
$play: 'Play', sans-serif;
$exo: 'Exo 2', sans-serif;
$josefin: 'Josefin Slab', serif;
$opensans: 'Open Sans', sans-serif;

//Styles for Home Page
body {
  background-image: url('/images/layout/washi/washi.png');
  background-repeat: repeat; 
  a.new_post {
    display: block;
    text-align: center;
    font-family: $lato;
    font-weight: $font-bold;
  }
}

body #page_header .title {
  font-size: 40px;
  font-weight: $font-bold;
  // color: black;
  font-family: $oleo;
  text-align: center;
  a {
    color: black;
  }
  @media #{$large-up} {
    padding-top: 25px;
  }
  @media #{$medium-only} {
    padding-bottom: 25px;
  }
  @media #{$small-only} {
    padding-bottom: 18px;
  }
}

div#blog_main {
  
  div.blog_content { 
    max-width: 900px;
    margin: 50px auto;
    display: block;

    @media #{$large-up} {
      height: 450px;
      width: 730px;
      margin-bottom: 100px;
    }
    @media #{$medium-only} {
      max-width: 460px;
      padding-bottom: 10px;      
    }
    @media #{$small-only} {
      height: 200px;
      width: 320px;
      padding-bottom: 220px;
      div.image-pic {
        img {
          width: 525px;
          height: 200px;
        }
      }
      // background-image: url('/images/ChristmasPicture.png');
    }
  }//end of .blog_content
    
  div.orbit-caption {
    font-family: $lato;
    p {
      font-family: $exo;
      font-weight: $font-light;
      text-transform: uppercase;
      letter-spacing: 1px;
      font-size: 13px;
      margin-bottom: 25px;
    }
    p.tag{
      //background-color: green;
      padding-left: -25px;
      margin-bottom: 10px;
      font-family: $exo;
      font-weight: $font-light;
      font-size: 11px;
      max-height: 20px;
      overflow: hidden;
    }
    h3 {
      color: white;
      margin-top: -25px;
      margin-bottom: -5px;
      font-family: $josefin;
      font-weight: $font-semibold;
    }
    a.button {
      background-color: #FD234D;
      padding-top: 10px;
      padding-bottom: 10px;
      margin: 0 0;
      border-radius: 2px;
      width: 140px;
    }
  }
}//end of #blog_main

div.orbit-bullets-container {
  // background-color: blue;
  position: absolute;
  left: 23%;
  bottom: 5px;
  width: 50%;
  padding-bottom: 0;
  margin-left: 10px;
  
  ol.orbit-bullets {
    // background-color: green;
    margin: 0 auto 5px auto;
    li{
      border-radius: 0;
      width: 22px;
      height: 6px;
      &.active {
        background-color: #FD234D;
      }
    }
  }
}

div.orbit-container {
  position: relative;
  ul.orbit-slides-container {
    list-style: none;
  }
}

div.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}

div.orbit-container a.orbit-prev {
  top: 1%;
  background-color: #989C88;
  margin-top: 1px;
  margin-left: 4px;
  border-radius: 5px;
  
    span {
    color: white;
    border: none;
    font-size: 20px;
    text-indent: 0;
    margin-top: -25px;
    font-family: $lato;
    font-weight: $font-bold;
    margin-left: 9px;
    &:before {
      content: "<";
    }
  }
}

div.orbit-container a.orbit-next {
  top: 1%;
  background-color: #989C88;
  padding-left: 30px;
  margin-top: 1px;
  margin-left: 4px;
  border-radius: 5px;
    span {
    color: white;
    border: none;
    font-size: 20px;
    text-indent: 0;
    margin-top: -25px;
    margin-left: -6px;
    font-family: $lato;
    font-weight: $font-bold;
    &:before {
      content: ">";
    }
  }
}

a.orbit-prev {
  width: 30px !important;
  height: 30px !important;
  // margin-right: 665px;
}

a.orbit-next {
  width: 30px !important;
  height: 30px !important;
  margin-right: 664px;
  @media #{$medium-only} {
    margin-right: 395px;
  }
  @media #{$small-only} {
    margin-right: 255px;
  }
}


//Styles for Single Blog Post Page

div#single_blog{

   // background-color: white;
  
  div.small-9 {
    background-color: white;

    div#title_area {

      h3.title {
        font-family: $lato;
        font-size: 40px;
      }

      p.author {
        font-family: $lato;
        font-size: 20px;
      }

    }
    
    div#button_area {
      text-align: right;

      form {
        display: inline-block;
        margin-top: 30px;
        // margin-left: 40px;  

        &#delete_link {
          margin-left: 10px;
        }

        button {
          font-family: $opensans; 
          font-weight: 300; 
        }

      }
    }

    div.post_area {

      margin-top: 20px; 

      p.paragraph {
        font-size: 17px;
        font-family: $opensans;
      }
    }

  }
}

//Styles for New_Post and Edit Post Pages
div.new_post, div.edit_post{

  display: block;

  form#new_post, form#edit_post {
    width: 100%;

    label.form_labels {
      font-family: $lato;
      font-size: 25px
    }

    input, textarea#form_body, button{
      font-family: $opensans;
      font-size: 20px;
    }
  }
}
