//find background images
//find images
//www.subtlepatterns.com

//colors

//font weight
$font-bold: 700;

$lobster: 'Lobster', cursive;
$bree: 'Bree Serif', serif;
$oleo: 'Oleo Script', cursive;
$lato: 'Lato', sans-serif;

@import "http://fonts.googleapis.com/css?family=Lobster:300,700.css";
@import "http://fonts.googleapis.com/css?family=Oleo+Script:400,700.css";
@import "http://fonts.googleapis.com/css?family=Bree+Serif:300,700.css";
@import "http://fonts.googleapis.com/css?family=Lato:300,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

body {
  // background-image: url('/images/layout/washi/washi.png');
  // background-repeat: repeat; 

  @media #{$large-up} {
  background-color: blue;
  }

  @media #{$medium-only} {
  background-color: yellow;
  }

  @media #{$small-only} {
  background-color: pink; 
  }
}

#page_header .title {
  font-size: 50px;
  font-weight: $font-bold;
  color: black;
  font-family: $oleo;
  text-align: center;
}

div#blog_main {
  @media #{$medium-up} {
    // padding: 80px;
  }
  div.blog_content { 
    max-width: 900px;
    margin: 50px auto;
    display: block;
    @media #{$large-up} {
      height: 450px;
      width: 730px;
    }
    @media #{$medium-only} {
      max-width: 460px;
      }
    @media #{$small-only} {
      height: 200px;
      width: 320px;
      // padding-bottom: 175px;
      // padding-top: 50px;
      }
    }//end of .blog_content
    div.orbit-caption {
      font-family: $lato;
      p {
        margin-left: 3px;
      }
      h3 {
        font-family: $lato;
        color: white;
        margin-top: -25px;
        margin-bottom: -5px;
      }
      p.tag{
        //background-color: green;
        padding-left: -25px;
        margin-bottom: 10px;
        
      }
      .button {
        background-color: #FD234D;
        padding-top: 7px;
        padding-bottom: 10px;
        font-family: $lato;
        margin: 0 0;
        border-radius: 2px;
      }
    }
  }//end of #blog_main

// ul.example-orbit.orbit-slides-container {
//   height: 250px;
// }

.orbit-bullets li{
  border-radius: 0;
  width: 20px;
}

.orbit-container .orbit-slides-container {
  list-style: none;
}

.orbit-timer {
  left: -10000px;
  top: auto;
  height: 1px;
  overflow: hidden;
  position: absolute;
  width: 1px;
}




