//find background images
//find images
//www.subtlepatterns.com

//colors

//font weight
$font-bold: 700;

$lobster: 'Lobster', cursive;
$bree: 'Bree Serif', serif;

@import "http://fonts.googleapis.com/css?family=Lobster:300,700.css";
@import "http://fonts.googleapis.com/css?family=Bree+Serif:300,700.css";
@import "partials/settings";
@import "../public/bower_components/foundation/scss/foundation.scss";

body {
  @media #{$large-up} {
  // background-color: blue;
  background-image: url('/images/layout/washi/washi.png');
  background-repeat: repeat;
  }

  @media #{$medium-only} {
  // background-color: blue;
  background-image: url('/images/layout/washi/washi.png');
  background-repeat: repeat;
  }

  @media #{$small-only} {
  // background-color: blue;
  background-image: url('/images/layout/washi/washi.png');
  background-repeat: repeat;  
  }
}

h1 {
  font-size: 25px;
  font-weight: $font-bold;
  color: red;
  font-family: $lobster;
}

div#blog_main {
  padding: 80px;
  margin-left: 20px;
}

div.blog_content {
  margin-bottom: 50px;
}
  
ul img {
    @media #{large-up} {
      img {
      height: 500px;
      height: 500px;
      display: inline-block;
    }
  }
}






